<div *ngIf="contact" class="details">
    
    <div class="column-1">
        
        <img *ngIf="contact.Picture" src="{{contact.Picture}}">
    
        <div *ngIf="!contact.Picture" class="no-image">
            {{contact.Name | returnInitials : contact.Surname}}
        </div>
    
    </div>
    
    <div class="column-2">
        
        <div class="block">
            
            <div class="section">
                <span [routerLink]="['/contact/list']" class="icon-back"></span>
                <h1>{{contact.Name}} {{contact.Surname}}</h1>
            </div>
            
            <div class="section">
                <span (click)="favoriteContact(contact)" [ngClass]="contact.Favorite ? 'icon-heart-full' : 'icon-heart-empty'" class="float-left"></span>
                <span (click)="goToForm()" class="icon-edit"></span>
            </div>
        
        </div>
    
        <div class="block-mobile">
        
            <div class="section-nav">
                <span [routerLink]="['/contact/list']" class="icon-back float-left"></span>
                <span (click)="goToForm()" class="icon-edit float-right"></span>
                <span (click)="favoriteContact(contact)" [ngClass]="contact.Favorite ? 'icon-heart-full' : 'icon-heart-empty'" class="float-right"></span>
            </div>
        
            <div class="section-prof">
                <img *ngIf="contact.Picture" src="{{contact.Picture}}">
    
                <div *ngIf="!contact.Picture" class="no-image">
                    {{contact.Name | returnInitials : contact.Surname}}
                </div>
                
                <h1>{{contact.Name}} {{contact.Surname}}</h1>
            </div>
    
        </div>
        
        <hr/>
        
        <div class="block-list">
            
            <div class="section">
                
                <ul class="main">
                    
                    <li>
                        
                        <div class="m-col-1">
                            <span class="icon-email"></span>
                            <label>email</label>
                        </div>
    
                        <div class="m-col-2">
                            <a [href]="'mailto:' + contact.Email">{{contact.Email}}</a>
                        </div>
                    
                    </li>
                    
                    <li>
                        
                        <div class="m-col-1">
                            <span class="icon-phone"></span>
                            <label>numbers</label>
                        </div>
                        
                        <div class="m-col-2">
                            <ul class="secondary">
                                <li *ngFor="let phone of contact.Numbers">
                                    <label>{{phone.Type}}</label>
                                    <a [href]="'tel:' + phone.Number">{{phone.Number}}</a>
                                </li>
                            </ul>
                        </div>
                    
                    </li>
                
                </ul>
            
            </div>
        
        </div>
    
    </div>

</div>
