@import "../../../../assets/style/variables";

.details {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .column-1 {
        width: 25%;

        img {
            height: 186px;
            width: 186px;
            border: 3px solid rgba(187, 196, 195, 0.3);
            border-radius: 100%;
        }

        .no-image {
            height: 186px;
            width: 186px;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
            border: 3px solid #D4E2E5;
            background-color: rgba(45, 161, 173, 0.4);
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 30px;
            letter-spacing: 2px;
        }
    }

    .column-2 {
        width: 70%;
        padding: 40px 0 0 0;

        .block {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .section {
                display: flex;
                align-items: center;

                .icon-back {
                    background-image: url("../../../../assets/icons/back.png");
                    background-position: top left;
                    height: 32px;
                    width: 42px;
                }

                .icon-heart-empty {
                    background-image: url("../../../../assets/icons/heart-emtpy.png");
                    background-position: top left;
                    height: 30px;
                    width: 28px;
                }

                .icon-heart-full {
                    background-image: url("../../../../assets/icons/heart-full.png");
                    background-position: top left;
                    height: 30px;
                    width: 28px;
                }

                .icon-edit {
                    background-image: url("../../../../assets/icons/edit.png");
                    background-position: top right;
                    height: 32px;
                    width: 32px;
                }

                span {
                    background-repeat: no-repeat;
                    background-size: auto 15px;

                    cursor: pointer;
                }

                span:focus {
                    outline: none;
                    border: none;
                }
            }
        }

        .block-list {

            margin: 0 auto;
            padding: 15px 60px;

            ul.main {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    margin: 50px 0;
                    display: flex;
                    flex-direction: row;

                    .m-col-1 {

                        .icon-phone {
                            background-image: url("../../../../assets/icons/phone.png");
                            background-position: top left;
                            height: 30px;
                            width: 30px;
                            background-size: auto 15px;
                        }

                        .icon-email {
                            background-image: url("../../../../assets/icons/email.png");
                            background-position: center left;
                            height: 20px;
                            width: 30px;
                            background-size: auto 10px;
                        }

                        label {
                            width: 100px;
                            color: $primaryColor;
                            font-size: 16px;
                            font-weight: bold;
                            letter-spacing: 0;
                            line-height: 19px;
                            margin: 0;
                            display: inline-block;
                            vertical-align: top;
                        }

                        span {
                            display: inline-block;
                            background-repeat: no-repeat;
                            cursor: auto;
                        }

                    }

                    .m-col-2 {

                        a {
                            color: $thColor;
                            font-size: 16px;
                            letter-spacing: 0;
                            line-height: 19px;
                        }

                    }

                }
            }

            ul.secondary {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    margin: 2px 0 40px 0;
                    display: flex;

                    label {
                        color: $thColor;
                        font-size: 14px;
                        font-weight: bold;
                        letter-spacing: 0;
                        line-height: 17px;
                        margin: 0;
                        width: 100px;
                    }

                    a {
                        color: $thColor;
                        font-size: 16px;
                        letter-spacing: 0;
                        line-height: 20px;
                        text-decoration: underline;
                        cursor: pointer;

                    }
                }
            }

        }

        .block-mobile {
            display: none;
        }

        hr {
            height: 1px;
            width: 100%;
            background: $secondaryColor;
            margin-top: 0.3rem;
            margin-bottom: 0.3rem;
        }

        h1 {
            color: $thColor;
            font-size: 28px;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 34px;
            text-align: center;
        }

    }

}


@media only screen and (max-width: 767px) {
    .details {

        .column-1 {
            display: none;
        }

        .column-2 {
            width: 100%;
            padding: 0;

            .block {
                display: none;
            }

            .block-mobile {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-direction: column;

                .section-nav {
                    display: block;
                    width: 100%;
                    border-bottom: 2px solid #F1F3F3;

                    .icon-back {
                        background-image: url("../../../../assets/icons/back.png");
                        background-position: top left;
                        height: 32px;
                        width: 42px;
                    }

                    .icon-heart-empty {
                        background-image: url("../../../../assets/icons/heart-emtpy.png");
                        background-position: top left;
                        height: 30px;
                        width: 28px;
                    }

                    .icon-heart-full {
                        background-image: url("../../../../assets/icons/heart-full.png");
                        background-position: top left;
                        height: 30px;
                        width: 28px;
                    }

                    .icon-edit {
                        background-image: url("../../../../assets/icons/edit.png");
                        background-position: top right;
                        height: 32px;
                        width: 32px;
                    }

                    span {
                        background-repeat: no-repeat;
                        background-size: auto 15px;

                        cursor: pointer;
                    }

                    span:focus {
                        outline: none;
                        border: none;
                    }

                }

                .section-prof {
                    display: flex;
                    padding: 15px 0;
                    align-items: center;

                    img {
                        height: 50px;
                        width: 50px;
                        border: 3px solid rgba(187, 196, 195, 0.3);
                        border-radius: 100%;
                    }

                    .no-image {
                        width: 60px;
                        height: 60px;
                        font-size: 16px;
                        -webkit-border-radius: 100%;
                        -moz-border-radius: 100%;
                        border-radius: 100%;
                        border: 3px solid #D4E2E5;
                        background-color: rgba(45, 161, 173, 0.4);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                        letter-spacing: 2px;


                    }

                    h1 {
                        color: $thColor;
                        font-size: 22px;
                        font-weight: 600;
                        letter-spacing: 0;
                        padding: 0 0 0 20px;
                        line-height: 48px;
                        text-align: center;
                        margin: 0;
                    }
                }
            }

            .block-list {
                padding: 15px 15px;

                .section {

                    ul.main {

                      li {
                          flex-direction: column;
                          margin: 0 0 50px 0;

                          .m-col-1 {

                          }

                          .m-col-2 {
                              padding: 0 0 0 30px;

                              p {

                              }

                          }
                      }
                    }

                    ul.secondary {


                        li {
                            flex-direction: row;
                            margin: 0 0 30px 0;

                            label {

                            }

                            a {

                            }
                        }

                    }
                }
            }
        }
    }
}
