<div class="details">
    
    <div class="column-1">
        
        <img *ngIf="contact?.Picture" src="{{contact.Picture}}">
        
        <div *ngIf="!contact?.Picture" class="image-container">
        
        </div>
    
    
    </div>
    
    <div class="column-2">
        
        <div class="block">
            
            <div class="section">
                <span [routerLink]="['/contact/list']" class="icon-back"></span>
            </div>
        
        </div>
        
        <div class="block-mobile">
            
             <div class="section-nav">
				 <span [routerLink]="['/contact/list']" class="icon-back float-left"></span>
			 </div>
			 
			 <div class="section-prof">
				 <img *ngIf="contact?.Picture" src="{{contact.Picture}}">
                
                 <div *ngIf="!contact?.Picture" class="no-image">
                     {{contact?.Name | returnInitials : contact?.Surname}}
                 </div>
			 </div>
        
        </div>
        
        <hr/>
        
        <div class="block-list">
            
            <div class="section">
                
                <ul class="main">
                    
                    <form [formGroup]="formGroup" autocomplete="off">
                        
                        <li>
                            
                            <div class="m-col">
                                <span class="icon-person"></span>
                                <label>full name*</label>
                            </div>
                            
                            <div class="m-col">
                                <input formControlName="FullName" placeholder="full name" type="text" [ngClass]="{ 'is-invalid': submitted && f.FullName.errors }">
                            </div>
                        
                        </li>
                        
                        <hr/>
                        
                        <li>
                            
                            <div class="m-col">
                                <span class="icon-email"></span>
                                <label>email</label>
                            </div>
                            
                            <div class="m-col">
                                <input formControlName="Email" placeholder="email" type="text">
                            </div>
                        
                        </li>
                    
                    </form>
                    
                    <hr/>
                    
                    <li>
                        
                        <div class="m-col">
                            <span class="icon-phone"></span>
                            <label>numbers</label>
                        </div>
                        
                        <div *ngFor="let num of numbers" class="m-col-num">
                            <input [(ngModel)]="num.Number" class="input-num" placeholder="number" type="text">
                            
                            <div class="type-holder">
                                <input [(ngModel)]="num.Type" class="input-type" placeholder="type" type="text">
                                
                                <span (click)="removeNumber(num)" class="icon-remove"></span>
                            </div>
                        </div>
                        
                        <div class="m-col">
                            
                            <div (click)="addNewNumber()" class="add-section">
                                <span class="icon-add"></span>
                                <label>Add number</label>
                            </div>
                        
                        </div>
                    </li>
                
                </ul>
                
            </div>
        
        </div>
        
        
        <div class="block-nav">
            
            <button [routerLink]="['/contact/list']" class="negative">Cancel</button>
            <button (click)="save()" class="positive">Save</button>
        
        </div>
    
    </div>

</div>
