@import "../../../../assets/style/variables";

.details {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .column-1 {
        width: 25%;

        img {
            height: 186px;
            width: 186px;
            border: 3px solid #EAEDED;
            border-radius: 100%;
        }

        .image-container {

            height: 186px;
            width: 186px;
            border: 3px solid #EAEDED;
            border-radius: 100%;
            background-color: rgba(45, 161, 173, 0.4);
            background-image: url("../../../../assets/icons/upload.png");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 20px 23px;
        }
    }

    .column-2 {
        width: 70%;
        padding: 40px 0 0 0;

        .block {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .section {
                display: flex;
                align-items: center;

                .icon-back {
                    background-image: url("../../../../assets/icons/back.png");
                    background-position: top left;
                    height: 32px;
                    width: 42px;
                }

                .icon-heart-empty {
                    background-image: url("../../../../assets/icons/heart-emtpy.png");
                    background-position: top left;
                    height: 30px;
                    width: 28px;
                }

                .icon-heart-full {
                    background-image: url("../../../../assets/icons/heart-full.png");
                    background-position: top left;
                    height: 30px;
                    width: 28px;
                }

                .icon-edit {
                    background-image: url("../../../../assets/icons/edit.png");
                    background-position: top right;
                    height: 32px;
                    width: 32px;
                }

                span {
                    background-repeat: no-repeat;
                    background-size: auto 15px;

                    cursor: pointer;
                }

                span:focus {
                    outline: none;
                    border: none;
                }
            }
        }

        .block-list {

            ul.main {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    margin: 20px 0;
                    display: flex;
                    flex-direction: column;

                    input {
                        max-width: 300px;
                        width: 300px;
                        height: 60px;
                        border: 1px solid #BBC4C3;
                        opacity: 0.4;
                        border-radius: 4px;
                        outline: none;
                        padding: 0 20px;
                    }

                    input:focus {
                        border: 1px solid $primaryColor !important;
                    }

                    .input-num {
                        max-width: 300px;
                        width: 300px;
                    }

                    .input-type {
                        max-width: none;
                        width: 80%;
                    }

                    .m-col {
                        margin: 0 0 15px 0;

                        .icon-phone {
                            background-image: url("../../../../assets/icons/phone.png");
                            background-position: top left;
                            height: 30px;
                            width: 30px;
                            background-size: auto 15px;
                        }

                        .icon-email {
                            background-image: url("../../../../assets/icons/email.png");
                            background-position: center left;
                            height: 20px;
                            width: 30px;
                            background-size: auto 10px;
                        }

                        .icon-person {
                            background-image: url("../../../../assets/icons/person.png");
                            background-position: center left;
                            height: 20px;
                            width: 30px;
                            background-size: auto 15px;
                        }

                        .add-section {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            width: 170px;
                            cursor: pointer;

                            .icon-add {
                                background-image: url("../../../../assets/icons/add-small.png");
                                background-position: center center;
                                height: 32px;
                                width: 32px;
                                background-size: auto 16px;
                                background-repeat: no-repeat;
                                border: 1px solid $primaryColor;
                                border-radius: 100%;
                                cursor: inherit;
                            }

                            label {
                                color: $primaryColor;
                                font-size: 14px;
                                letter-spacing: 0;
                                line-height: 17px;
                                margin: 0 0 0 10px;
                                font-weight: 500;
                                cursor: inherit;
                            }
                        }

                        label {
                            width: 100px;
                            color: $primaryColor;
                            font-size: 16px;
                            font-weight: 600;
                            letter-spacing: 0;
                            line-height: 19px;
                            margin: 0;
                            display: inline-block;
                            vertical-align: top;
                        }

                        span {
                            display: inline-block;
                            background-repeat: no-repeat;
                            cursor: auto;
                        }

                    }

                    .m-col-1 {

                    }

                    .m-col-2 {

                        a {
                            color: $thColor;
                            font-size: 16px;
                            letter-spacing: 0;
                            line-height: 19px;
                        }

                    }

                    .m-col-num {
                        display: flex;
                        justify-content: space-between;
                        margin: 0 0 15px 0;

                        .icon-remove {
                            background-image: url("../../../../assets/icons/remove.png");
                            background-position: center center;
                            height: 60px;
                            width: 35px;
                            background-size: auto 35px;
                            background-repeat: no-repeat;
                            cursor: pointer;
                        }

                        .type-holder {
                            display: flex;
                            justify-content: space-between;
                            width: 47%;
                        }
                    }

                }
            }

            ul.secondary {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    margin: 2px 0 40px 0;
                    display: flex;

                    label {
                        color: $thColor;
                        font-size: 14px;
                        font-weight: bold;
                        letter-spacing: 0;
                        line-height: 17px;
                        margin: 0;
                        width: 100px;
                    }

                    a {
                        color: $thColor;
                        font-size: 16px;
                        letter-spacing: 0;
                        line-height: 20px;
                        text-decoration: underline;
                        cursor: pointer;

                    }
                }
            }

        }

        .block-mobile {
            display: none;
        }

        .block-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;

            button {
                color: #FFFFFF;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 0;
                line-height: 17px;
                text-align: center;
                height: 42px;
                width: 160px;
                border-radius: 100px;
                border: none;
                outline: none;
            }

            .negative {
                background-color: #BBC4C3;
            }

            .positive {
                background: $primaryColor;

            }

        }

        hr {
            height: 1px;
            width: 100%;
            background: $secondaryColor;
            margin-top: 0.3rem;
            margin-bottom: 0.3rem;
        }

        h1 {
            color: $thColor;
            font-size: 28px;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 34px;
            text-align: center;
        }

    }

    .is-invalid {
        border: 1px solid red !important;
    }

}

@media only screen and (max-width: 767px) {
    .details {

        .column-1 {
            display: none;
        }

        .column-2 {
            width: 100%;
            padding: 0;

            .block {
                display: none;
            }

            .block-mobile {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-direction: column;

                .section-nav {
                    display: block;
                    width: 100%;
                    border-bottom: 2px solid #F1F3F3;

                    .icon-back {
                        background-image: url("../../../../assets/icons/back.png");
                        background-position: top left;
                        height: 32px;
                        width: 42px;
                    }

                    .icon-heart-empty {
                        background-image: url("../../../../assets/icons/heart-emtpy.png");
                        background-position: top left;
                        height: 30px;
                        width: 28px;
                    }

                    .icon-heart-full {
                        background-image: url("../../../../assets/icons/heart-full.png");
                        background-position: top left;
                        height: 30px;
                        width: 28px;
                    }

                    .icon-edit {
                        background-image: url("../../../../assets/icons/edit.png");
                        background-position: top right;
                        height: 32px;
                        width: 32px;
                    }

                    span {
                        background-repeat: no-repeat;
                        background-size: auto 15px;

                        cursor: pointer;
                    }

                    span:focus {
                        outline: none;
                        border: none;
                    }

                }

                .section-prof {
                    display: flex;
                    padding: 15px 0;
                    justify-content: center;
                    width: 100%;

                    .no-image {
                        height: 156px;
                        width: 156px;
                        -webkit-border-radius: 100%;
                        -moz-border-radius: 100%;
                        border-radius: 100%;
                        border: 3px solid #D4E2E5;
                        background-color: rgba(45, 161, 173, 0.4);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                        font-size: 30px;
                        letter-spacing: 2px;

                        background-image: url("../../../../assets/icons/upload.png");
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: 20px 23px;
                    }
                }
            }

            .block-list {
                padding: 15px 0;

                .section {

                    ul.main {

                        li {
                            flex-direction: column;
                            margin: 15px 0 15px 0;

                            input {
                                width: 100%;
                                height: 50px;
                                max-width: none;
                            }

                            input:focus {
                                border: 1px solid $primaryColor !important;
                            }

                            .input-num {
                                width: 100%;
                                max-width: none;
                                margin: 0 0 10px 0;
                            }

                            .input-type {
                                max-width: none;
                                width: 80%;
                            }

                            .m-col-1 {

                            }

                            .m-col-2 {
                                padding: 0 0 0 30px;

                                p {

                                }

                            }

                            .m-col-num {
                                flex-direction: column;

                                .type-holder {
                                    width: 100%;
                                }
                            }

                            .m-col {
                                margin: 0 0 5px 0;
                            }
                        }
                    }

                    ul.secondary {


                        li {
                            flex-direction: row;
                            margin: 0 0 30px 0;

                            label {

                            }

                            a {

                            }
                        }

                    }
                }
            }
        }
    }
}
