<div class="column-1">
    
    <div class="block-1">
        
        <h2>{{title}}</h2>
        
    </div>

    <div class="block-2">
    
        <p>{{message}}</p>
        
    </div>

    <div class="block-3">
    
        <button (click)="close()" class="negative">Cancel</button>
        <button (click)="confirmation()" class="positive">{{action}}</button>
        
    </div>
    
</div>






