@import "../../../../assets/style/variables";

.column-1 {


    .block-1 {
        margin: -24px -24px 0 -24px;
        height: 60px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid #DCDCDC;

        h2 {
            color: $thColor;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 19px;
            margin: 0;
            padding: 0 0 0 31px;
        }
    }

    .block-2 {
        padding: 29px 0;

        p {
            color: $thColor;
            font-size: 16px;
            letter-spacing: 0;
            line-height: 28px;
            text-align: center;
        }
    }

    .block-3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        button {
            color: #FFFFFF;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 17px;
            text-align: center;
            height: 42px;
            width: 160px;
            border-radius: 100px;
            border: none;
            outline: none;
        }

        .negative {
            background-color: #BBC4C3;
        }

        .positive {
            background: $primaryColor;

        }
    }
}

@media only screen and (max-width: 767px) {
    .column-1 {

        .block-3 {
            flex-direction: column;

            button {
                margin-bottom: 15px;
            }
        }
    }
}
