
.header {
  width: 100%;
  height: 60px;
  border-bottom: 6px solid #96D3D7;
  display: flex;
  margin-bottom: 40px;

  background: rgb(58,163,173);
  background: linear-gradient(90deg, rgba(58,163,173,1) 0%, rgba(117,199,204,1) 100%);

  justify-content: center;
  align-items: center;

    img {
        height: 20px;
        width: 180px;
    }

}
