/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Lato', sans-serif !important; box-sizing: border-box;}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif !important;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
