@import "../../../../assets/style/variables";

.column-1 {

    .block-1 {

        ul {
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;

            li {
                width: 150px;
                text-align: center;
                border-right: 1px solid $thColor;

                span {
                    color: $grayColor;
                    cursor: pointer;
                    font-size: 18px;
                    font-weight: 600;
                    letter-spacing: 0;
                    line-height: 22px;
                    text-align: center;
                }

                .active {
                    color: $primaryColor;
                }

                span:hover {
                    color: $primaryColor;
                }


            }

            li:last-of-type {
                border-right: none !important;
            }

        }

    }

    .block-2 {
        margin: 50px 0 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            padding: 15px 15px 15px 50px;
            border: 1px solid $grayColorLight;
            width: 540px;
            background: url("./../../../../assets/icons/search.png");
            background-repeat: no-repeat;
            background-position: 20px 15px;
            background-size: 20px;
            outline: none !important;
            height: 50px;
            border-radius: 4px;
            background-color: #FFFFFF;
            box-shadow: 0 2px 34px 0 #E3E3E3;

        }

        input:focus {
            border: 1px solid $primaryColor !important;
        }
    }

    .block-3 {
        display: block;
        margin: 0 -15px;

        .element-container {
            width: 25%;
            display: inline-block;
            vertical-align: top;

            .element {
                margin: 15px;
                height: 150px;
                padding: 15px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
            }

            .contact-new:hover {
                border: 1px solid $primaryColor;
            }

            .contact-new:active {
                outline: none;
                box-shadow: none;
            }

            .contact:hover {
                border: 1px solid $primaryColor;

                .icon-bin, .icon-edit {
                    visibility: visible !important;
                }

            }

            .contact-new {
                border: 1px dashed $secondaryColor;
                cursor: pointer;

                i {
                    background-repeat: no-repeat;
                    background-size: auto 20px;
                    display: block;
                    height: 50px;
                    width: 25px;
                }

                label {
                    color: $secondaryColor;
                }

                .icon-add {
                    background-image: url("../../../../assets/icons/add.png");
                    background-position: center left;
                }
            }

            .contact {
                border: 1px solid $grayColorLight;

                .settings {
                    width: 100%;
                    height: 15px;

                    i {
                        background-repeat: no-repeat;
                        background-size: auto 15px;
                        display: inline-block;
                        height: 100%;
                        width: 25px;
                        cursor: pointer;
                    }

                    .icon-heart-empty {
                        background-image: url("../../../../assets/icons/heart-emtpy.png");
                        background-position: center left;
                    }

                    .icon-heart-full {
                        background-image: url("../../../../assets/icons/heart-full.png");
                        background-position: center left;
                    }

                    .icon-edit {
                        background-image: url("../../../../assets/icons/edit.png");
                        background-position: center right;
                        visibility: hidden;
                    }

                    .icon-bin {
                        background-image: url("../../../../assets/icons/bin.png");
                        background-position: center right;
                        visibility: hidden;
                    }

                }

                .settings-mobile {
                    display: none;
                }

                img {
                    width: 60px;
                    height: 60px;
                    -webkit-border-radius: 100%;
                    -moz-border-radius: 100%;
                    border-radius: 100%;
                    border: 3px solid #D4E2E5;
                }

                .no-image {
                    width: 60px;
                    height: 60px;
                    -webkit-border-radius: 100%;
                    -moz-border-radius: 100%;
                    border-radius: 100%;
                    border: 3px solid #D4E2E5;
                    background-color: rgba(45, 161, 173, 0.4);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    font-size: 20px;
                    letter-spacing: 2px;
                }

                label {
                    margin: 15px 0 0 0;
                    color: $grayColor;
                    font-size: 18px;
                    font-weight: 600;
                    letter-spacing: 0;
                    line-height: 22px;
                    text-align: center;
                }

            }
        }

    }

}


hr {
    height: 1px;
    background: $secondaryColor;
}


@media only screen and (max-width: 767px) {
    .column-1 {

        .block-1 {

            ul {
                margin-bottom: 20px;

                li {

                    span {
                        font-size: 14px;
                        line-height: 17px;
                    }
                }
            }
        }

        .block-2 {
            margin: 23px 0 10px 0;

            input {
                width: 100%;
            }
        }

        .block-3 {

            .element-container {
                width: 100%;
                display: block;

                .element {
                    flex-direction: row;

                    margin: 15px;
                    height: 60px;
                    padding: 15px;
                    align-items: center;
                    justify-content: flex-start;
                }

                .contact-new:hover {

                }

                .contact:hover {

                }

                .contact-new {


                    i {

                    }

                    label {
                        margin: 0;
                        padding: 0 0 0 10px;
                    }

                }

                .contact {


                    .settings {
                        display: none;

                        i {

                        }

                    }

                    .settings-mobile {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 25px;

                        i {
                            background-repeat: no-repeat;
                            background-size: auto 15px;
                            height: 100%;
                            width: 50px;
                            cursor: pointer;
                        }

                        .icon-heart-empty {
                            background-image: url("../../../../assets/icons/heart-emtpy.png");
                            background-position: center right;
                        }

                        .icon-heart-full {
                            background-image: url("../../../../assets/icons/heart-full.png");
                            background-position: center right;
                        }

                        .icon-edit {
                            background-image: url("../../../../assets/icons/edit.png");
                            background-position: center right;
                        }

                        .icon-bin {
                            background-image: url("../../../../assets/icons/bin.png");
                            background-position: center right;
                        }
                    }

                    img {
                        width: 40px;
                        height: 40px;
                    }

                    .no-image {
                        width: 40px;
                        min-width: 40px;
                        height: 40px;
                        min-height: 40px;
                        font-size: 16px;
                    }

                    label {
                        font-size: 14px;
                        font-weight: 600;
                        letter-spacing: 0;
                        line-height: 17px;
                        margin: 0 0 0 15px;
                        width: 100%;
                        text-align: left;
                    }

                }
            }

        }
    }
}
