<div class="column-1">
    
    <div class="block-1">
        
        <ul>
            
            <li (click)="filterContacts(1)"><span [ngClass]="filterState === 1 ? 'active' : ''">All contacts</span></li>
            <li (click)="filterContacts(2)"><span [ngClass]="filterState === 2 ? 'active' : ''">My favorites</span></li>
        
        </ul>
    
    </div>
    
    <hr/>
    
    <div class="block-2">
        
        <input (keyup)="customFilter($event)" [(ngModel)]="filter" type="text">
    
    </div>
    
    <div class="block-3">
        
        <div class="element-container">
            
            <div [routerLink]="['/contact/form/0']" class="contact-new element">
                
                <i class="icon-add"></i>
                
                <label>Add new</label>
            
            </div>
        
        </div>
        
        <div class="element-container" *ngFor="let contact of contactList">
            
            <div (click)="goToDetails(contact)" class="contact element">
                
                <div class="settings">
                    
                    <i (click)="favoriteContact(contact, $event)" [ngClass]="contact.Favorite ? 'icon-heart-full' : 'icon-heart-empty'" class="float-left"></i>
                    
                    <i (click)="removeContact(contact.ID, $event)" class="icon-bin float-right"></i>
                    
                    <i (click)="goToForm(contact)" class="icon-edit float-right"></i>
                
                </div>
                
                <img *ngIf="contact.Picture" [src]="contact.Picture">
                
                <div *ngIf="!contact.Picture" class="no-image">
                    {{contact.Name | returnInitials : contact.Surname}}
                </div>
                
                <label>{{contact.Name}} {{contact.Surname}}</label>
    
                <div class="settings-mobile">
        
                    <i (click)="favoriteContact(contact, $event)" [ngClass]="contact.Favorite ? 'icon-heart-full' : 'icon-heart-empty'"></i>
        
                    <i (click)="goToForm(contact)" class="icon-edit"></i>
    
                    <i (click)="removeContact(contact.ID, $event)" class="icon-bin"></i>
    
                </div>
            
            </div>
        
        </div>
    
    </div>

</div>

